<style>
  #tweet_entry{
    width:60%;
    border:solid 1px #87ceeb;
    border-radius:3px 3px 3px 3px / 3px 3px 3px 3px;
    background-color:#ffffff;
    margin:auto;
  }
  #tweet_header{
    border-bottom:solid 1px #87ceeb;
  }
  
  #tweet_content{
    background-color:#e0ffff;
    padding:5px;
    height:135px;
    border-radius:3px 3px 3px 3px / 3px 3px 3px 3px;
  }

  form{
    margin:auto;
  }
  textarea{
    width:90%;
    height:75px;
    margin:10px 10px 3px 10px;
  }
  h1{
    font-size:12px;
    text-align:center;
    margin:5px;
  }
  input[type="submit"]{
    display:block;
    margin:0 0 0 auto;
    padding:10px;
    border:none;
    border-radius:30% 30% 30% 30%/50% 50% 50% 50%;
    background-color:#afeeee;
  }
</style>
<div id="tweet_entry">
  <div id="tweet_header">
    <h1>Compose new Tweet</h1>
  </div>
  <div id="tweet_content">
    <%= form_with(model: @tweet,local: true) do |form| %>
      <%= form.text_area :tweet, :placeholder => "What\'s happening?" %>
      <%= form.submit 'Tweet' %>
    <% end%>  
  </div>
</div>

